files:
  "/etc/nginx/conf.d/myapp.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      upstream flask {
          server 127.0.0.1:5000;
      }

      upstream streamlit {
          server 127.0.0.1:8501;
      }

      server {
          listen 80;

          location /api/ {
              proxy_pass http://flask;
          }

          location /streamlit/ {
              proxy_pass http://streamlit;
          }
      }
