name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Download files from S3
        run: |
          aws s3 cp s3://elasticbeanstalk-eu-north-1-182399693743/model.pkl model.pkl
          aws s3 cp s3://elasticbeanstalk-eu-north-1-182399693743/imputer.pkl imputer.pkl
          aws s3 cp s3://elasticbeanstalk-eu-north-1-182399693743/scaler.pkl scaler.pkl
          aws s3 cp s3://elasticbeanstalk-eu-north-1-182399693743/feature_names.json feature_names.json
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}

      - name: Deploy to Elastic Beanstalk
        run: eb deploy
